<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=ALUCARDV82\SQLEXPRESS01;Database=Ternium_Pruebas;Integrated Security=True;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogFilePath" value="log.txt"  />
  </appSettings>
</configuration>

